body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.gBox {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
}
#grid{
    width: 500px;
    height: 500px;
    display: grid;
    
    
}
.big{
    border: 1px solid black
}
button{
    margin-top: 20px;
}
.change{
    margin-bottom: 20px;
}